h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Lato';
  color: #1e0046;
  margin: 0;
  line-height: 1.33; }
  h1.highlight,
  h2.highlight,
  h3.highlight,
  h4.highlight,
  h5.highlight,
  h6.highlight,
  p.highlight,
  a.highlight {
    color: #ffffff; }
  h1.highlight-dim,
  h2.highlight-dim,
  h3.highlight-dim,
  h4.highlight-dim,
  h5.highlight-dim,
  h6.highlight-dim,
  p.highlight-dim,
  a.highlight-dim {
    color: #e0e0e0;
    line-height: 1.4; }

h1 {
  font-size: 60px;
  font-weight: bold; }

h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5; }

h3 {
  font-size: 35px;
  font-weight: bold; }

h4 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.33; }

h5 {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5; }

h6 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

p {
  font-size: 20px;
  line-height: 1.25; }
  p.small {
    font-size: 16px; }

a:hover, a:active, a:focus, a:visited {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

button {
  font-family: 'Lato';
  font-weight: bold; }
  button.circle {
    width: 62px;
    height: 62px;
    background: #fa9600;
    border: none;
    border-radius: 50%;
    outline: none;
    background-image: url("../assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%; }
    button.circle.small {
      width: 42px;
      height: 42px; }
    button.circle.right {
      background-color: rgba(0, 0, 0, 0);
      border: 2px solid #46148c;
      background-image: url("../assets/images/arrow-purple.svg");
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg);
      padding-left: 5px;
      transition: all .15s ease-in-out;
      -webkit-transition: all .15s ease-in-out; }
      button.circle.right:hover, button.circle.right:active, button.circle.right:focus {
        border-color: rgba(0, 0, 0, 0);
        background: #fa9600;
        background-image: url("../assets/images/arrow.svg");
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%; }
  button.pill {
    width: 100%;
    text-transform: uppercase; }
    button.pill.primary {
      background-color: #46148c;
      color: #ffffff;
      height: 40px;
      border-radius: 20px;
      transition: all .15s ease-in-out;
      -webkit-transition: all .15s ease-in-out; }
      button.pill.primary:hover, button.pill.primary:active, button.pill.primary:visited, button.pill.primary:focus {
        color: #ffffff;
        background: #fa9600; }
    button.pill.secondary {
      background-color: rgba(0, 0, 0, 0);
      color: #46148c;
      border: 3px solid #46148c;
      height: 50px;
      border-radius: 25px;
      transition: all .15s ease-in-out;
      -webkit-transition: all .15s ease-in-out; }
      button.pill.secondary.highlight {
        border-color: #fa9600;
        color: #fa9600; }
        button.pill.secondary.highlight:hover, button.pill.secondary.highlight:active, button.pill.secondary.highlight:visited, button.pill.secondary.highlight:focus {
          background: #fa9600;
          color: #ffffff; }
    button.pill:hover, button.pill:active, button.pill:visited, button.pill:focus {
      color: #ffffff;
      background: #46148c;
      border-color: rgba(0, 0, 0, 0); }

input {
  width: 100%;
  font-family: 'Lato';
  background: #ffffff;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 40px; }
  input::-webkit-input-placeholder {
    color: #46148c; }
  input:-ms-input-placeholder {
    color: #46148c; }
  input::-ms-input-placeholder {
    color: #46148c; }
  input::placeholder {
    color: #46148c; }

.contents-wrapper {
  max-width: 1120px;
  margin: 0 auto; }

.centered {
  text-align: center; }

.bold-weight {
  font-weight: bold; }

.normal-weight {
  font-weight: normal; }

.contents-wrapper {
  max-width: 1120px;
  margin: 0 auto; }

.centered {
  text-align: center; }

.bold-weight {
  font-weight: bold; }

.normal-weight {
  font-weight: normal; }

body {
  background-color: #f2f2f2;
  overflow-x: hidden;
  position: relative; }
  body .navigation-bar {
    position: fixed;
    background: #1e0046;
    width: 100%;
    height: 120px;
    z-index: 10;
    border-radius: 0;
    padding: 40px;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    overflow: hidden; }
    body .navigation-bar .nav-links {
      display: flex; }
      body .navigation-bar .nav-links .logo {
        padding-top: 5px;
        padding-right: 40px;
        vertical-align: middle; }
      body .navigation-bar .nav-links .navbar-nav {
        transition: all .15s ease-in-out;
        -webkit-transition: all .15s ease-in-out; }
        body .navigation-bar .nav-links .navbar-nav .nav-item {
          padding: 10px 17px;
          font-size: 18px;
          letter-spacing: 1px; }
        body .navigation-bar .nav-links .navbar-nav .active {
          border-bottom: 2px solid #fa9600;
          border-radius: 1px; }
      @media (max-width: 992px) {
        body .navigation-bar .nav-links .logo {
          padding-right: 20px;
          width: 110px;
          padding-top: 12px; }
        body .navigation-bar .nav-links .navbar-nav .nav-item {
          padding: 10px 12px;
          font-size: 15px; } }
    body .navigation-bar .join-btn {
      float: right;
      width: 80px;
      margin-top: -5px; }
    body .navigation-bar .mobile .burger {
      position: absolute;
      top: 45px; }
      body .navigation-bar .mobile .burger .line {
        background: #fa9600;
        height: 3px;
        width: 25px;
        border-radius: 2px;
        margin-bottom: 5px; }
    body .navigation-bar .mobile .logo {
      margin: 0 auto; }
    body .navigation-bar .mobile .nav-links {
      display: block;
      margin-top: 50px; }
      body .navigation-bar .mobile .nav-links .nav-item {
        padding: 20px; }
    body .navigation-bar .mobile .join {
      width: 80px;
      margin: 0 auto;
      margin-top: 10px; }
    body .navigation-bar .mobile .navbar-nav .active {
      border-bottom: 0; }
    body .navigation-bar.expanded {
      padding-bottom: 540px; }
    body .navigation-bar.transparent {
      background: rgba(0, 0, 0, 0); }
    @media (max-width: 768px) {
      body .navigation-bar.transparent {
        background: #1e0046; } }
  body #intelligent-design {
    height: 985px;
    background-image: url("../assets/images/cell_2.svg"), linear-gradient(to bottom, #1e0046, #360e6e);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 240px 0 0 0; }
    body #intelligent-design .tagline {
      padding-bottom: 50px; }
    body #intelligent-design .show-next {
      position: absolute;
      left: calc(50% - 33px);
      top: 666px; }
    body #intelligent-design .contents {
      padding: 0 20px;
      max-width: 900px;
      margin: 0 auto; }
  body .curve-top {
    width: 100%;
    height: 155px;
    position: relative; }
    body .curve-top #curve-top {
      position: absolute;
      width: 100%;
      height: 155px;
      background: none;
      top: -155px; }
    body .curve-top .deco-bar {
      width: 2px;
      height: 96px;
      background: #1e0046;
      margin: 0 auto;
      position: relative;
      top: 80px;
      z-index: 20; }
  body .curve-bottom {
    width: 100%;
    height: 155px;
    position: relative; }
    body .curve-bottom #curve-bottom {
      position: absolute;
      width: 100%;
      height: 155px;
      background: none;
      top: 155px; }
    body .curve-bottom .deco-bar {
      width: 2px;
      height: 96px;
      background: #1e0046;
      margin: 0 auto;
      position: relative;
      top: 80px;
      z-index: 20; }
  @media (max-width: 768px) {
    body .curve-top {
      margin-bottom: -155px; }
      body .curve-top .deco-bar {
        top: -78px; }
    body .curve-bottom {
      margin-top: -155px; }
      body .curve-bottom .deco-bar {
        top: 140px; } }
  body #genetic-design-platform {
    padding: 100px 40px; }
    body #genetic-design-platform .header {
      padding-bottom: 30px; }
    body #genetic-design-platform .subheader {
      padding-bottom: 60px; }
    body #genetic-design-platform .step-badge {
      margin-top: 50px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: #fa9600;
      text-align: center;
      vertical-align: middle;
      margin-bottom: 30px; }
      body #genetic-design-platform .step-badge .number {
        font-weight: bold;
        color: #ffffff;
        padding: 8px 0; }
    body #genetic-design-platform .gif {
      margin-top: 30px; }
    body #genetic-design-platform .text {
      line-height: 2.0; }
    @media (max-width: 768px) {
      body #genetic-design-platform .step-badge {
        margin: 60px auto 30px auto; } }
    body #genetic-design-platform .gif img {
      width: 100%; }
    body #genetic-design-platform .contents .text {
      padding-top: 40px; }
  body #movie {
    margin-bottom: -6px; }
    body #movie .headline {
      background-image: linear-gradient(to bottom, #1e0046, #360e6e);
      padding: 220px 20px 120px 20px; }
      body #movie .headline .headline-content {
        max-width: 600px;
        margin: 0 auto; }
    body #movie .loop-video {
      width: 100%; }
  body #unlocking-potential .headline {
    padding: 100px 30px;
    background: #46148c; }
    body #unlocking-potential .headline .container {
      max-width: 700px;
      margin: 0 auto; }
    body #unlocking-potential .headline .tagline {
      padding-bottom: 30px; }
  body #unlocking-potential .decoration .line {
    position: relative;
    background: #1e0046;
    width: 2px;
    height: 65px;
    left: 50%;
    bottom: 0;
    margin-top: 160px;
    margin-bottom: 24px;
    vertical-align: bottom; }
    body #unlocking-potential .decoration .line.longer {
      height: 225px;
      margin-top: 0; }
  body #unlocking-potential .cards .card {
    background: #ffffff;
    height: 676px;
    padding: 35px;
    margin-bottom: 140px; }
    body #unlocking-potential .cards .card .heading {
      padding-bottom: 42px;
      color: #46148c; }
    body #unlocking-potential .cards .card .iconography {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      height: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75%; }
      body #unlocking-potential .cards .card .iconography#living-therapies {
        background-image: url("../assets/images/icons/cell-therapies.svg"); }
      body #unlocking-potential .cards .card .iconography#advanced-cell-manufacturing {
        background-image: url("../assets/images/icons/advanced-cell-manufacturing.svg"); }
      body #unlocking-potential .cards .card .iconography#gene-therapy {
        background-image: url("../assets/images/icons/gene-therapy.svg"); }
    body #unlocking-potential .cards .card p, body #unlocking-potential .cards .card h3 {
      color: #46148c; }
    body #unlocking-potential .cards .card p {
      line-height: 2.0; }
    body #unlocking-potential .cards .card:before {
      content: '';
      width: 2px;
      height: 50px;
      background: red;
      position: relative;
      top: 0;
      left: 0;
      z-index: 10; }
  @media (max-width: 768px) {
    body #unlocking-potential .cards .card {
      margin-bottom: 30px; }
      body #unlocking-potential .cards .card.last {
        margin-bottom: 0;
        padding-bottom: 0; } }
  @media (max-width: 992px) {
    body #unlocking-potential .cards .card {
      padding: 20px; }
      body #unlocking-potential .cards .card p {
        line-height: 1.8; } }
  body #meet-asimov {
    background: #ffffff;
    padding: 90px 40px 140px 40px; }
    body #meet-asimov .headline {
      max-width: 450px;
      margin: 0 auto; }
      body #meet-asimov .headline .heading {
        padding-bottom: 68px; }
      body #meet-asimov .headline .text {
        padding-bottom: 100px; }
    body #meet-asimov .portrait-container {
      padding: 0 30px;
      margin-bottom: 15px; }
      body #meet-asimov .portrait-container .portrait {
        max-width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-size: cover;
        background-blend-mode: color;
        background-repeat: no-repeat; }
        body #meet-asimov .portrait-container .portrait#alec-nielsen {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/AlecNielsen.png"); }
        body #meet-asimov .portrait-container .portrait#raja-srinivas {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/RajaSrinivas.png"); }
        body #meet-asimov .portrait-container .portrait#douglas-densmore {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/DouglasDensmore.png"); }
        body #meet-asimov .portrait-container .portrait#chris-voigt {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/ChrisVoigt.png"); }
        body #meet-asimov .portrait-container .portrait#joe-isaacson {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/JoeIsaacson.png"); }
        body #meet-asimov .portrait-container .portrait#kat-tarasova {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/KatTarasova.png"); }
        body #meet-asimov .portrait-container .portrait#brian-fults {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/BrianFults.png"); }
        body #meet-asimov .portrait-container .portrait#nimish-khanna {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/NimishKhanna.png"); }
        body #meet-asimov .portrait-container .portrait#robin-green {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/RobinGreen.png"); }
        body #meet-asimov .portrait-container .portrait#sahil-zubair {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/SahilZubair.png"); }
        body #meet-asimov .portrait-container .portrait#doug-tait {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/DougTait.png"); }
        body #meet-asimov .portrait-container .portrait#amber-delhagen {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/AmberDelhagen.png"); }
        body #meet-asimov .portrait-container .portrait#jeremy-gam {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/JeremyGam.png"); }
        body #meet-asimov .portrait-container .portrait#nick-emery {
          background-image: url("../assets/images/purplemask.png"), url("../assets/images/team/NickEmery.png"); }
    body #meet-asimov .profile-container {
      margin-bottom: 40px; }
      body #meet-asimov .profile-container .divider {
        margin: 0 auto 5px auto;
        width: 15px;
        height: 2px;
        border-radius: 1px;
        background: #360e6e; }
    @media (max-width: 768px) {
      body #meet-asimov .portrait-container {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 1200px) {
      body #meet-asimov .portrait-container {
        padding: 0 10px; } }
    @media (max-width: 992px) {
      body #meet-asimov .portrait-container {
        padding: 0;
        margin-bottom: 20px; } }
  body #investors {
    background-image: linear-gradient(to bottom, #360e6e, #1e0046); }
    body #investors .header-contents {
      max-width: 550px;
      margin: 0 auto; }
      body #investors .header-contents .text {
        padding-top: 35px; }
    body #investors .desktop {
      padding: 130px 40px; }
      body #investors .desktop .invenstor-logo {
        max-width: 100%;
        padding-top: 65px;
        height: 100%;
        vertical-align: middle; }
    body #investors .mobile {
      padding: 80px 40px; }
      body #investors .mobile .invenstor-logo {
        max-width: 100%;
        height: 100%;
        vertical-align: middle;
        padding-top: 48px; }
  body #featured-in {
    background: #46148c; }
    body #featured-in .desktop {
      padding: 130px 0; }
      body #featured-in .desktop .featured-logo {
        max-width: 100%;
        height: 100%;
        vertical-align: middle;
        padding-top: 65px; }
    body #featured-in .mobile {
      padding: 80px 0; }
      body #featured-in .mobile .featured-logo {
        max-width: 100%;
        height: 100%;
        vertical-align: middle;
        padding-top: 48px; }
  body #join-us {
    padding: 130px 40px;
    background: #ffffff; }
    body #join-us .heading-content {
      max-width: 550px;
      margin: 0 auto; }
      body #join-us .heading-content .subheading {
        padding-bottom: 30px; }
      body #join-us .heading-content .text {
        padding-bottom: 65px; }
    body #join-us .job-listings .list-item,
    body #join-us .job-listings .list-item-mobile {
      background-color: #f2f2f2;
      padding: 36px 36px 36px 80px;
      margin-bottom: 26px; }
      body #join-us .job-listings .list-item .item-content,
      body #join-us .job-listings .list-item-mobile .item-content {
        display: flex;
        flex-wrap: wrap; }
        body #join-us .job-listings .list-item .item-content .title,
        body #join-us .job-listings .list-item-mobile .item-content .title {
          padding-right: 15px; }
      body #join-us .job-listings .list-item button.circle,
      body #join-us .job-listings .list-item-mobile button.circle {
        position: relative;
        top: -7px; }
    body #join-us .job-listings .list-item .location {
      padding-top: 7px; }
    body #join-us .job-listings .list-item-mobile {
      padding: 40px;
      text-align: center; }
      body #join-us .job-listings .list-item-mobile .title,
      body #join-us .job-listings .list-item-mobile .location {
        padding-bottom: 30px; }
    body #join-us .view-more {
      max-width: 150px;
      margin: 0 auto;
      margin-top: 50px; }
  body #in-the-news {
    padding: 100px 0;
    background: #1e0046; }
    body #in-the-news #quotes {
      max-width: 80%;
      margin: 0 auto;
      margin-top: 63px;
      margin-bottom: 50px;
      padding: 60px;
      border-top: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      display: flex; }
      @media (max-width: 768px) {
        body #in-the-news #quotes {
          padding: 60px 0; } }
    body #in-the-news .slick-prev,
    body #in-the-news .slick-next {
      position: absolute;
      width: 42px;
      height: 42px;
      border-radius: 21px;
      border: 2px solid #ffffff;
      color: rgba(0, 0, 0, 0);
      background: rgba(0, 0, 0, 0);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 30%;
      transition: all .15s ease-in-out;
      -webkit-transition: all .15s ease-in-out; }
      body #in-the-news .slick-prev:hover, body #in-the-news .slick-prev:focus, body #in-the-news .slick-prev:active, body #in-the-news .slick-prev:visited,
      body #in-the-news .slick-next:hover,
      body #in-the-news .slick-next:focus,
      body #in-the-news .slick-next:active,
      body #in-the-news .slick-next:visited {
        border-color: rgba(0, 0, 0, 0);
        background: #fa9600;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30%; }
    body #in-the-news .slick-prev {
      left: -63px;
      top: calc(50% - 21px);
      background-image: url("../assets/images/arrow-left.svg");
      background-position: 45% center; }
      body #in-the-news .slick-prev:hover, body #in-the-news .slick-prev:focus, body #in-the-news .slick-prev:active, body #in-the-news .slick-prev:visited {
        background-image: url("../assets/images/arrow-left.svg");
        background-position: 45% center; }
    body #in-the-news .slick-next {
      right: -63px;
      top: calc(50% - 21px);
      background-image: url("../assets/images/arrow-right.svg"); }
      body #in-the-news .slick-next:hover, body #in-the-news .slick-next:focus, body #in-the-news .slick-next:active, body #in-the-news .slick-next:visited {
        background-image: url("../assets/images/arrow-right.svg"); }
    @media (max-width: 768px) {
      body #in-the-news .slick-prev,
      body #in-the-news .slick-next {
        top: calc(100% + 40px); }
      body #in-the-news .slick-prev {
        left: calc(50% - 21px - 50px); }
      body #in-the-news .slick-next {
        right: calc(50% - 21px - 50px); }
      body #in-the-news .carousel-copy {
        font-size: 25px;
        line-height: 1.6;
        font-weight: normal; } }
  body #blog {
    background: #ffffff;
    padding: 134px 0; }
    body #blog .cards {
      margin-top: 86px; }
      body #blog .cards .card {
        background: #f2f2f2;
        height: 395px;
        padding: 86px 30px 60px 30px; }
        body #blog .cards .card .heading {
          padding-bottom: 35px; }
    body #blog .read-more {
      position: absolute;
      width: 140px;
      bottom: 60px;
      left: calc(50% - 70px); }
    body #blog .view-more {
      margin: 50px auto 0 auto;
      width: 150px; }
  body #news-letter {
    padding: 100px 40px; }
    body #news-letter .content {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
      body #news-letter .content .subheading {
        padding-bottom: 30px; }
      body #news-letter .content .text {
        padding-bottom: 65px; }
      body #news-letter .content .mobile-button-container {
        margin-top: 40px; }
  body #contact-info {
    padding-top: 130px;
    background: #ffffff; }
    body #contact-info .header {
      max-width: 500px;
      margin: 0 auto;
      padding: 0 40px; }
      body #contact-info .header .subheading {
        padding-bottom: 55px; }
      body #contact-info .header .text {
        padding-bottom: 70px; }
    body #contact-info .address-container-mobile {
      width: 100%;
      background-color: #46148c;
      padding: 100px; }
      body #contact-info .address-container-mobile .subheading {
        padding-bottom: 25px; }
        body #contact-info .address-container-mobile .subheading:not(:first-child) {
          padding-top: 80px; }
    body #contact-info .address-and-map {
      display: flex;
      flex-wrap: wrap; }
      body #contact-info .address-and-map .address-container {
        width: 50%;
        background-color: #46148c;
        padding: 100px; }
        body #contact-info .address-and-map .address-container .address {
          max-width: 560px;
          padding-right: 20%;
          float: right; }
        body #contact-info .address-and-map .address-container .subheading {
          padding-bottom: 25px; }
          body #contact-info .address-and-map .address-container .subheading:not(:first-child) {
            padding-top: 80px; }
      body #contact-info .address-and-map .map {
        width: 50%;
        background-image: url("../assets/images/map.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
        body #contact-info .address-and-map .map.mobile {
          width: 100%;
          padding-bottom: 56.25%; }
  body #footer {
    background: #1e0046; }
    body #footer .contents {
      padding: 60px 30px; }
      body #footer .contents .social-icons {
        display: block;
        float: right; }
        body #footer .contents .social-icons img {
          padding-left: 15px; }
    body #footer .logo-and-copyright {
      display: flex;
      flex-wrap: wrap; }
    body #footer .copyright {
      padding-top: 5px; }
    body #footer .mobile-item {
      padding-bottom: 50px; }
      body #footer .mobile-item .icons {
        padding: 0 10px; }
